body {
  margin:auto;
  width:80%;
}

header, section, article, nav, aside, footer, div {
  font-family: sans-serif;
  border: 1px dotted #000;
  padding: 10px;
  margin: 10px;
}

.BlogPost {
  background-color: lightblue;
}

header #SiteLogo {

}

header #SiteTitle {

}

#SiteNavigation ul li {
  float: left;
  list-style: none;
}

#PageContent {
  border-color: red;
  border-style: dotted;
}
