body .row1{
  background-color: slategrey;
  /* Setting colour for the odd rows */
}

body .row2{
  background-color: lightgrey;
  /* Setting colour for the even rows */
}

th:hover{
  background-color: red;
  /* Setting colour for whichever column
}
